@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    background-color: rgb(237, 237, 222);
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:700px;
    height: 600px;
    margin: auto;
    flex-direction: column;
}


._q{
    font-size: 1.6em;
}

.title{
    font-size: 3em;
    margin-bottom: 90px;
    color: rgb(203, 131, 22);
    font-style: italic;
    font-family: 'Sofia', sans-serif;


}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% ;

}
.card {
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgb(177, 176, 176) ;
    width: 100%;
    position: relative;

}

._a{
    display:block ;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 700px;
    bottom: -15px;
    left: 0;
    box-shadow: 0px 4px 5px 0px rgb(177, 176, 176) ;
    }

._a span {
    margin-left: 5px;
}

.card i {
    font-size: 1.3em;
    color: rgb(47, 82, 177);
    transition: 0.3s;
    padding-left: 5px;
}

.card i:hover {
    cursor: pointer;
    transform:rotate(90deg);
}